<body style="background-color:#B5C2E7;" ></body>
    <div class="text-center">
        <br>
        <h1 style ="font-family:Rockwell; color:#4B84A1; font-size: 50px;"><b>Welcome to Bucket List Creator!</b></h1>
        <% if (loggedIn) {%>
        <h6 style="color:midnightblue;">Welcome <%=username%>, you are now logged in!</h6>
        <% } else { %>
            <h6 style="color:midnightblue;">You are not logged in... Please sign into your account!</h6>
        <% } %>
    </div>

    <h6 class="p-3 m-3 border border-light">
        <br>
        <p style="font-family:Rockwell; color:#4B84A1"> Ever had something pop up in your head that you want to accomplish at some point so you add it to your mental growing bucket list of things to do?
        This list can keep growing so much that at one point you may not be able to keep track of all of those fantastic ideas...</p>
        <br>
    </h6>
    <h6 class="p-3 m-3 border border-light">
        <br>
        <p style="font-family:Rockwell; color:#4B84A1">Not to worry, you are at the right place! Presenting the one and only customized bucket list creator~ A personalized webapp that allows you to add all of your bucket list items into an ongoing list that only you will be able to access.
        Keep all your ideas organized and in one place so you are able to keep track and accomplish all of them at some point in your life! Start creating your list today! ☺</p>
        <br>
    </h6>
    
    


