<body style="background-color:#B5C2E7;" ></body>

    <div class="row">
      
        <div class="col-sm-5">
            <br>
            <h2 style ="font-family:Rockwell; color:#4B84A1; font-size: 50px;"><b>Login</b></h2>
            <form method="post" action="/login">
                username: <input type="text"
                                 autocomplete="username"
                                 name="username"><br>
                passphrase: <input  type="password"
                                    autocomplete="passphrase"
                                    name="passphrase"><br>
                <input type="submit">
            </form>
        </div>
      
        <div class="col-sm-2" style="text-align:center">
            OR
        </div>
      
        <div class="col-sm-5">
            <br>
            <h2 style ="font-family:Rockwell; color:#4B84A1; font-size: 50px;"><b>Sign Up</b></h2>
            <form method="post" action="/signup">
                username: <input type="text" autocomplete="username" name="username"><br>
                password
                   <input type="password" autocomplete="passphrase" name="passphrase"><br>
                confirm password:
                    <input type="password" name="passphrase2"><br>
              
                age: <input type="number" name="age"><br>
              
              
                <input type="submit">
            </form>
        </div>
    </div>


